/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
----------------------------------------------------------------------------------------
*/

// Load default parameters
includeConfig 'conf/defaults.config'

// User parameters - overide defaults and provide mandatory
params {
    plink          = './data/variants'
    outdir         = './results/'
    binary_format  = true
    
    // QC Thresholds
    missing_geno = 0.2
    missing_indi = 0.2
    maf          = 0.01
    hwe_control  = 1e-6
    hwe_case     = 1e-10
    het_sd       = 3
    pihat        = 0.2

    // Genes of Interest
    gff3         = './data/genes_of_interest.gff3'
    key          = 'gene_id'

    // Covariate
    covar_file   = './data/traits.phe'
    covar_name   = ['covar1', 'covar2']
    
    // Phenotype
    pheno_file   = './data/traits.phe'
    pheno_name   = 'binary_trait'
    zero_one     = true
}

profiles {
    
    docker {
        includeConfig 'conf/docker.config'
        includeConfig 'conf/modules.config'
        docker.enabled = true
    }
}



