/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
----------------------------------------------------------------------------------------
*/

executor {
    name = "local"
    cpus = 6
}

// Load default parameters
includeConfig 'conf/defaults.config'

// User parameters - overide defaults and provide mandatory
params {
    plink          = './data/variants'
    outdir         = './results/'
    binary_format  = true
    
    // QC Thresholds
    missing_indi = 0.2
    related      = 0.2
    missing_geno = 0.2
    maf          = 0.05
    hwe_control  = 1e-6
    hwe_case     = 1e-10
    het_sd       = 3
}

profiles {
    
    docker {
        includeConfig 'conf/docker.config'
        docker.enabled = true
        includeConfig 'conf/modules.config'
    }
}



