/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default parameters - mandatory parameter set to null
------------------------------------------------------------------------------
*/

params {
    plink          = null          // Prefix to PLINK format
    binary_format  = null          // Set True if input is PLINK binary
    outdir         = './results/'  // Path to output directory.
    
    // QC Thresholds
    missing_geno = 0.2   // Exclude genotype with high missing rate
    missing_indi = 0.2   // Exclude individual with higher missing genotyping rate
    maf          = 0.05  // Exclude SNPs below minor allele frequency threshold
    hwe_control  = 1e-6  // Exclude markers deviating from Hardy–Weinberg equilibrium (control sample)
    hwe_case     = 1e-10 // Exclude markers deviating from Hardy–Weinberg equilibrium (case sample)
    related      = 0.2   // Exclude individuals by relatedness
    het_sd       = 3     // Remove individuals who deviate beyond heterozygosity rate mean

    // Genes of Interest
    gff3         = null      // Genes of interest in .gff3 format
    key          = 'gene_id' // Gene attribute key to label sets

    // Covariate
    covar_file   = 'NO_FILE' // Path to covar file
    covar_name   = ''        // List of columns names indiciating covariates (e.g. ['covar1', 'covar2'])
    
    // Phenotype
    pheno_file   = ''        // Path to pheno file
    pheno_name   = ''        // Column name of phenotype
    zero_one     = false     // Set true if phenotype is encoded as '0' = control and '1' = case
    allow_no_sex = true      // Prevent phenotypes set to missing if amiguous sex.
}   