// Default parameters - mandatory set to null

params {
    plink          = null          // Prefix to PLINK format
    binary_format  = null          // Set True if input is PLINK binary
    outdir         = './results/'
    
    // QC Thresholds
    missing_geno = 0.2   // Exclude genotype with high missing rate
    missing_indi = 0.2   // Exclude individual with higher missing genotyping rate
    maf          = 0.05  // Exclude SNPs below minor allele frequency threshold
    hwe_control  = 1e-6  // Exclude markers deviating from Hardy–Weinberg equilibrium (control sample)
    hwe_case     = 1e-10 // Exclude markers deviating from Hardy–Weinberg equilibrium (case sample)
    related      = 0.2   // Exclude individuals by relatedness
    het_sd       = 3     // Remove individuals who deviate beyond heterozygosity rate mean

    // Genes of Interest
    gff3         = null      // Genes of interest in .gff3 format
    key          = 'gene_id' // Gene attribute key to label sets

    // Covariate
    covar_file   = ''
    covar_name   = ''
    
    // Phenotype
    pheno_file   = null
    pheno_name   = null
}   