/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for docker profile
------------------------------------------------------------------------------
*/

process {

    withName: 'PLINK.*' {
        container = 'quay.io/biocontainers/plink:1.90b6.21--hec16e2b_2 '
    }

    withName: 'RVTEST.*' {
        container = 'zhanxw/rvtests-docker:dev-ubuntu'
    }

    withName: 'INDEX_VCF' {
        container = 'quay.io/biocontainers/tabix:1.11--hdfd78af_0'
    }

    withName: 'PLOT_.*' {
        container = 'stephenricher/seaborn:0'
    }

    withName: 'FILTER_SUMMARY|FIX_PHENO|GET_HET_FAIL|GFF3_TO_EXON_SET|MAKE_COVAR' {
        container = 'stephenricher/seaborn:0'
    }
}