process {

    withName: 'PLINK.*' {
        container = 'quay.io/biocontainers/plink:1.90b6.21--hec16e2b_2 '
    }

    withName: 'RVTEST' {
        container = 'zhanxw/rvtests-docker:dev-ubuntu'
    }

    withName: 'INDEX_VCF' {
        container = 'quay.io/biocontainers/tabix:1.11--hdfd78af_0'
    }
}