/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
*/

process {
    withName: 'PLINK_SUMMARY.*' {
        publishDir = [
            path: "${params.outdir}/summary/",
            mode: 'copy'
        ]
    }

    withName: 'PLOT_HET' {
        publishDir = [
            path: "${params.outdir}/summary/",
            mode: 'copy'
        ]
    }

    withName: 'PLOT_MISSING' {
        publishDir = [
            path: "${params.outdir}/summary/",
            mode: 'copy'
        ]
    }

    withName: 'PLINK_UPDATE_PHENO' {
        ext.args = {
            [
                params.zero_one ? '--1' : ''
            ].join(' ').trim()
        }
    }

    withName: 'RVTEST' {
        publishDir = [
            path: "${params.outdir}/rvtest/",
            mode: 'copy'
            //saveAs: { filename -> "${params}_${filename}" }
        ]
    }

}