/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for defining DSL2 per module options and publishing paths
------------------------------------------------------------------------------
*/

process {
    withName: '.*SUMMARY.*' {
        publishDir = [
            path: "${params.outdir}/summary/",
            mode: 'copy'
        ]
    }

    withName: 'PLOT.*' {
        publishDir = [
            path: "${params.outdir}/summary/plots/",
            mode: 'copy'
        ]
    }

    withName: 'PLINK_UPDATE_PHENO' {
        ext.args = {
            [
                params.zero_one ? '--1' : ''
            ].join(' ').trim()
        }
    }

    withName: 'PLINK_QC_RELATED' {
        ext.args = {
            [
                params.allow_no_sex ? '--allow-no-sex' : ''
            ].join(' ').trim()
        }
    }

    withName: 'RVTEST.*' {
        publishDir = [
            path: "${params.outdir}/rvtest/",
            mode: 'copy'
            //saveAs: { filename -> "${params}_${filename}" }
        ]
    }

}