/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
*/

process {
    withName: 'PLINK_SUMMARY.*' {
        publishDir = [
            path: "${params.outdir}/summary/",
            mode: 'copy'
        ]
    }

    withName: 'PLOT_HET' {
        publishDir = [
            path: "${params.outdir}/summary/",
            mode: 'copy'
        ]
    }

    withName: 'PLOT_MISSING' {
        publishDir = [
            path: "${params.outdir}/summary/",
            mode: 'copy'
        ]
    }
}